{% extends 'PlanetaEscenario/View/CalendarioEventos.html.twig' %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    <a href="AdminICalSync?action=force-sync" class="btn btn-sm btn-outline-success ms-2" title="Sincronizar ahora">
        <i class="fa-solid fa-sync"></i> Sync
    </a>
{% endblock %}
